body {
  background-color: rgb(17, 17, 17);
}
.secao-visor {
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  height: 50px;
  justify-content: center;
  align-items: center;
}
.visor {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(216, 216, 216);
  border-radius: 5px;
  width: 50%;
  height: 100%;
}
.teclado {
  display: flex;
  gap: 25px;
}
.secao-teclado {
  display: flex;
  justify-content: center;
  align-items: center;
}
.teclado .numeros {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}
.tecla {
  text-align: center;
  color: azure;
  background-color: rgb(252, 25, 40);
  border: 2px solid rgb(70, 227, 255);
  border-radius: 25%;
  padding: 10px 10px;
  font-size: x-large;
  width: 50px;
  height: 50px;
}
.tecla .igual {
  background-color: rgb(252, 25, 40);
  border: 2px solid rgb(70, 227, 255);
}